.carousel {
    height: 500px;
    margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}
/* Declare heights because of positioning of img element */
.carousel .carousel-item {
    width: 100%;
    height: 500px;
}
.carousel-inner > .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}
@media (min-width: 768px) {
    .carousel-caption p{
        font-size: 21px;
        line-height: 1.4;
        font-family: "Helvetica Neue", sans-serif;
        color: #1d1e1f;
    }
}

.carousel-indicators li {
    box-shadow: 1px 1px 1px rgba(145, 145, 145, 0.5);
}
