@import "footer.css";

#wrapper{
    margin-top: 15px;
}

#sidebar{
    max-width: 330px;
}

body {
    background-color: #FFFFFF;
}

.navbar {
    background-color: #292c2f!important;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}
