@import "footer.css";

#wrapper{
    margin-top: 15px;
    flex: 1;
}

#sidebar{
    max-width: 330px;
}

html {
    min-height: 100%;
}

body {
    display: flex;
    background-color: #FFFFFF;
    min-height: 100%;
    flex-direction: column;
}

.navbar {
    background-color: #292c2f!important;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}
