img {
    float: none;
    max-width: 200px;
    max-height: 200px;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
    margin-bottom: 10px;
}

input:not([type]):disabled {
    background: transparent;
    border: none;
}

#loadAvatar{
    display: none;
}